.fcontainer {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.icons:hover {
  width: 2.7rem;
  height: 2.7rem;
  font-size: 1.8rem;
  margin: 0.8rem;
}

.fcontent {
  text-align: center;
  font-size: 1.2rem;
  font-family: fantasy;
}

.fcontent3 {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}

.content3 {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.1rem;
  font-family: Open-sans, sans-serif;
}

.mail {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
